//VARIABLE
$colorMain: rgb(240, 220, 110);
$colorHeader: rgba(70, 97, 250, 0.5);
$colorLink: rgb(255, 255, 255);
$colorHoverLink: rgb(220, 20, 60); 

$tablet: 768px;
$mobile: 425px;

//MIXIN

@mixin iconSizes($width-height, $margin-right) {
  width: $width-height;
  height: $width-height;
  margin-right: $margin-right;
} 

//GLOBAL-STYLES

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.g-wrapper{
  display: flex;
}